.step1Title{
	width: 60%;
	text-align: center;
	margin-bottom:10px;
	margin-top:10px;
}

.textArea{
	margin: 0px;
	width: 440px; 
	height: 160px;
}

.customVarTitle{
	margin-bottom:10px; 
	margin-top:10px;
}

.customVar{
	min-width: 180px;
}

.next{
	margin-top:10px;
}

.step2{
	display: none;
}

.step2Title{
	width: 40%;
	text-align:center;
	margin-bottom:10px;
	margin-top:10px;
}

.countrySelection{
	display: inline-block;
}

.countrySelectionTitle{
	text-align: center; 
	margin-bottom: 10px;
}

.countryMultipleSelect{
	min-width: 320px; 
	min-height: 342px;
}

.countrySelected{
	display: inline-block; 
	margin-left: 30px;
}

.save{
	text-align: center; 
	width: 43%; 
	margin-top: 20px;
}
